.main {
  display: grid;
  justify-content: center;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 525px);
}

h3 {
  font-size: 36px;
  letter-spacing: 3px;
  grid-column: 1;
  grid-row: 1;
}

.rocks {
  height: 256px;
  width: 785px;
  object-fit: cover;
  grid-column: 2 / 3;
  grid-row: 1;
}

.profile {
  height: 617px;
  width: 522px;
  object-fit: cover;
  grid-column: 1;
  grid-row: 2;
}

.about {
  width: 785px;
  grid-column: 2 / 3;
  grid-row: 2;
  text-align: justify;
}
