.main {
  display: grid;
  justify-content: center;
  grid-gap: 35px;
  grid-template-columns: 522px 785px;
}

h3 {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size:65px;
  letter-spacing: 3px;
  grid-column: 2;
  grid-row: 2;
  margin: 0px;
}

.rocks {
  height: 256px;
  width: 1307px;
  object-fit: cover;
  grid-column: 1 / 2;
  grid-row: 1;
}

.profile {
  height: 617px;
  width: 522px;
  object-fit: cover;
  grid-column: 1;
  grid-row: 2;
}

.about {
  width: 785px;
  grid-column: 2 / 3;
  grid-row: 2;
  text-align: justify;
}
